body {
    margin: 0;
}

div.container {
    width: 100%;
}

header, footer {
    padding: 1em;
    color: white;
    background-color: midnightblue;
    clear: left;
    text-align: center;
}

nav {
    float: left;
    max-width: 160px;
    margin: 0;
    padding: 1em;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul a {
    text-decoration: none;
}

article {
    margin-left: 170px;
    border-left: 1px solid gray;
    padding: 1em;
    overflow: hidden;
}

img.small {
    display: block;
    width: 400px;
    margin: 20px 0 0;
}
